<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Posts</title>
</head>
<body>

    <p id="name">Nome : {{user.dataValues.nome}}</p>
    <input type="hidden" id="email" value="{{user.dataValues.email}}">
    <input type="hidden" id="id" value="{{user.dataValues.id}}">

</body>
<script src="/js/auth.js"></script>
</html>