<div class="card">
    <div class="card-body">
        <h1>{{posts.dataValues.titulo}}</h1>
        <hr>
        <small>{{posts.dataValues.date}}</small>
        <hr>
        {{posts.dataValues.conteudo}}
    </div>
</div>